%h2
  ="Choices"
%ul.sortable.sortable-choices.grid_10.omega.alpha
  - option.option_values.each do |option_value|
    %li.block-container
      %span.block-type
        %span.handler
          %span.inner
      %span.block-name
        = text_field "option_values[#{option_value.id}]", 'name', :value => option_value.name
      %span.small-icons.red-delete-icon

.clear
= link_to 'Add a choice', '#', :class => 'small-icons add-choice'