%h2
  ="Choices"
%ul.sortable.sortable-choices.grid_10.omega.alpha
  - f.fields_for :option_values  do |option_value|
    %li.block-container
      %span.block-type
        %span.handler
          %span.inner
      %span.block-name
        = option_value.text_field :name
        = option_value.hidden_field :id
        = option_value.hidden_field :_delete, :class => 'delete'
      %span.small-icons.red-delete-icon

.clear
= link_to 'Add a choice', '#', :class => 'small-icons add-choice'