.tattribute-type
  %span.small-icons.longtext_option= I18n.t('longtext_option.field')
.tattribute-preview
  %h2= I18n.t('longtext_option.preview')
  = text_area_tag '', '', :rows => 20, :cols => 70, :class => 'mceEditor'
