<% 
  output = {
    :iTotalDisplayRecords => @special_offers.total_entries || 0,
    :aaData => @special_offers.collect do |special_offer|
      link_id = special_offer.id
      [
         content_tag(:div, '<div class="handler"></div><div class="small-icons offers"></div>', :id => link_id, :class => 'handler_container'),
        link_to(special_offer.name, admin_special_offer_path(special_offer.id)),
        select_tag(:status, options_for_select([['Active',1], ['Inactive',0]], special_offer.active)),
        special_offer.use,
        link_to_remote('', :url => { :controller => 'special_offers', :action => 'destroy', :id => special_offer.id },
           :method => :delete,
           :confirm => I18n.t('special_offer.destroy.confirm').capitalize,
           :success => "removedataTablesRow('#destroy_#{link_id}')",
           :html => {
             :class => 'small-icons destroy-link', :id => "destroy_#{link_id}"
        })
      ]
    end
  }
-%>
<%= output.to_json -%>
