<% 
  output = {
    :iTotalDisplayRecords => @special_offers.total_entries || 0,
    :aaData => @special_offers.collect do |special_offer|
      klass = special_offer.active? ? 'see-on' : 'see-off'
      link_id = special_offer.id
      [
         content_tag(:div, '<div class="handler"></div><div class="small-icons offers"></div>', :id => link_id, :class => 'handler_container'),
        link_to(special_offer.name, admin_special_offer_path(special_offer.id)),
        link_to_remote('', :url => activate_admin_special_offer_path(special_offer),
             :complete => "toggleActivate('#show_#{link_id}')",
             :html => {
               :class => "small-icons #{klass}",
               :id => "show_#{link_id}"
        }),
        special_offer.use,
        link_to_remote('', :url => { :controller => 'special_offers', :action => 'destroy', :id => special_offer.id },
           :method => :delete,
           :confirm => I18n.t('special_offer.destroy.confirm').capitalize,
           :success => "removedataTablesRow('#destroy_#{link_id}')",
           :html => {
             :class => 'small-icons destroy-link', :id => "destroy_#{link_id}"
        })
      ]
    end
  }
-%>
<%= output.to_json -%>
