.before_breadcrumbs
.breadcrumbs
  .inner-breadcrumbs
    %a{ :href => "#" }
      Accueil
    &gt;
    Connexion

.inner-content
  .cart-step-content.informations
    = render :partial => 'new_form'
