<%= step_order(1) %>

<% unless @cart.is_empty? %>
	<%= display_cart(@cart) %>
	<div class="link_empty">
		<%= link_to_cart_empty %>
	</div>
	<div class="link_order">
    <%= link_to I18n.t('Make order'), :controller => 'order', :action => 'new' %>
	</div>
<% end %>
