= display_cart(@cart, false, true)
- javascript_tag do
  - render(:update) do |page|
    = page.replace_html("forgeos_commerce_cart_link", link_to_cart)
    = page.visual_effect(:pulsate, 'forgeos_commerce_cart_link')
    = page.visual_effect(:highlight, 'forgeos_commerce_cart')
