.tree-product_category
  ul
    display: block
    padding: 0
    margin: 0
  li
    display: block !important
    width: auto !important
    float: none !important
    &.open
      background: url("brown-minus.png") 0px 1px no-repeat
    &.closed
      background: url("brown-plus.png") 0 1px no-repeat

#jstree-dragged.tree-product_category li li.open
  background: url("brown-plus.png") 0 1px no-repeat

.tree.tree-product_category .ltr li
  a
    padding: 0px 24px 0px 24px
    color: #75491b
    font-weight: bold
    font-size: 0.8em
    background-position: 0 -272px
    display: block
    position: relative
    &:hover, &.hover
      background-color: #fdd794
      color: #f16028
    &.clicked
      background-color: #fdd794
      color: #f16028
      &:hover
        background-color: #fdd794
        color: #f16028
    ins
      margin: 0
      display: none
    span
      height: 13px
      width: 19px
      font-size: 0.7em
      background-image: url("bubble-quantity-products.png")
      background-repeat: no-repeat
      background-position: -1px -5px
      text-align: center
      color: #75491b
      position: absolute
      right: 10px
      top: 2px
      line-height: 1.4em
      padding: 0px 5px 2px 1px
      &.clicked
        background-color: #fdd794
        color: #f16028
        padding: 0px 3px 0px 20px

.tree.tree-product_category .ltr li a.loading
  background: none

.tree-product_category-context
  width: 160px
  background: white
  border: 1px solid #aeb0b2
  position: absolute
  border-bottom: 0
  a
    display: block
    text-decoration: none
    border-bottom: 1px solid #aeb0b2
    color: black
    line-height: 20px
    margin: 0
    &.disabled:hover
      display: block
      text-decoration: none
      border-bottom: 1px solid #aeb0b2
      color: black
      line-height: 20px
      padding: 1px 0 1px 25px
      margin: 0
    &:hover
      background-color: #d6edf4
      color: #2973bd
      border-bottom: 1px solid #aeb0b2
    &.disabled
      color: silver
      opacity: 0.5
      -ms-filter: "alpha(opacity=50)"
      filter: alpha(opacity = 50)
      zoom: 1
      &:hover
        color: silver
        opacity: 0.5
        -ms-filter: "alpha(opacity=50)"
        filter: alpha(opacity = 50)
        zoom: 1
    ins
      &.create
        background-image: url(create.png)
        background-position: -4px -3px
      &.rename
        background-image: url(rename.png)
      &.remove
        background-image: url(remove.png)
    span
      margin: 0 !important
  .separator
    display: none !important
