%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
  %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to I18n.t('product_type', :count => 2).capitalize, '#content'
  %li.ui-state-default.ui-corner-top= link_to I18n.t('attribute', :count => 2).capitalize, admin_attributes_path
  %li.ui-state-default.ui-corner-top= link_to I18n.t('graphic_template', :count => 2).capitalize, ''
