/* LOCKED */
.tree-product_category .locked li a { color:gray; }
/* DOTS */
.tree-product_category ul {  }
.tree-product_category li { width:100% }
.tree-product_category li.last {  }

/* DOTS - RIGHT TO LEFT */
.tree-product_category .rtl, .tree-product_category .rtl ul { background-position:right 1px; }
.tree-product_category .rtl li { background-position:right 8px; }
.tree-product_category .rtl li.last { background-image:url("lastli_rtl.gif"); background-position:right top; }

/* NO DOTS */
.tree-product_category .no_dots, .tree-product_category .no_dots ul { background:transparent; }
.tree-product_category .no_dots li.leaf { background-image:none; background-color:transparent; }
/* OPEN or CLOSED */
.tree-product_category li.open { background:url("brown-minus.png") 0px 1px no-repeat; }
.tree-product_category li.closed, #jstree-dragged.tree-product_category li li.open { background:url("brown-plus.png") 0 1px no-repeat; }

/* RIGHT TO LEFT */
.tree-product_category .rtl li { margin-right:1px; }
.tree-product_category .rtl li.last { margin-right:0; padding-right:16px; }
.tree-product_category .rtl li.open { background:url("fminus_rtl.gif") right 6px no-repeat; margin-right:0; padding-right:16px; }
.tree-product_category .rtl li.closed, #jstree-dragged.tree-product_category .rtl li li.open { background:url("fplus_rtl.gif") right 4px no-repeat; margin-right:0; padding-right:16px; }

/* DEFAULT, HOVER, CLICKED, LOADING STATES */
.tree-product_category li a { padding:0px 5px 0px 5px;width:100%; color:#75491B;font-weight:bold;font-size:0.8em;}
.tree-product_category li a span {height:13px; width:19px;font-size:0.7em;background-image: url("bubble-quantity-products.png");background-repeat:no-repeat; background-position:-1px -4px; text-align:center; color:#75491B;right:5px;position:absolute;margin-top:-16px;}

.tree-product_category li a:hover, .tree-product_category li a.hover { background-color: #ffdda6;color:#f97234;}
.tree-product_category li a.clicked, .tree-product_category li a.clicked:hover, .tree-product_category li span.clicked {color:#f97234; background-color: #ffdda6;}
.tree-product_category li span.clicked { padding:0px 3px 0px 20px; }
.tree-product_category li a.loading { background-image:url("throbber.gif"); }

/* DEFAULT, HOVER, CLICKED, LOADING STATES - RIGHT TO LEFT */
.tree-product_category .rtl li a, .tree-product_category .rtl li span { padding:1px 23px 1px 4px; background-position:right 1px; margin-right:1px; }
.tree-product_category .rtl li a:hover, .tree-product_category .rtl li a.hover { padding:0px 23px 0px 3px; background-position:right 0px; margin-right:0px; }
.tree-product_category .rtl li a.clicked, .tree-product_category .rtl li a.clicked:hover, .tree-product_category .rtl li span.clicked { padding:0px 23px 0px 3px; background-position:right 0px;  margin-right:0px; }
.tree-product_category .rtl li span.clicked { padding:0px 21px 0px 3px; }

/* CONTEXT MENU */
.tree-product_category-context { width:160px; background:#F0F0F0 url("context.gif") 22px 0 repeat-y; border:1px solid silver; position:absolute; }
.tree-product_category-context a, .tree-product_category-context a.disabled:hover { display:block; text-decoration:none; color:black; line-height:20px; background-repeat: no-repeat; background-position:2px center; padding:1px 0 1px 25px; background-color:transparent; border:1px solid #f0f0f0; border-width:0 1px; margin:0; }
.tree-product_category-context a:hover { background-color:#e7f4f9; border:1px solid #d8f0fa; padding:0 0 0 25px; margin:0; }
.tree-product_category-context a.disabled, .tree-product_category-context a.disabled:hover { color:silver; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); zoom:1; }
.tree-product_category-context .separator { background:#FFFFFF;border-top:1px solid #E0E0E0;font-size:1px;height:1px;line-height:1px;margin:0 2px 0 24px;min-height:1px;display:block; }
