#user_lastname, #user_firstname
  :color = !orange
  font-size: 1.3em
  font-weight: bold
  height: 31px
  width: 335px
  :padding-top 5px
  +left()

#customer-see
  width: 720px
  .datatable td
    vertical-align: middle
.customer-header
  background-position: 0 -1464px
  :background-color = !white
  padding: 6px 15px
  :color = !lightGray
  span
    :color = !orange
    font-size: 1.2em
    background-position: 0 -2447px
    padding-left: 25px
.main-infos p, .order-delivery p, .main-infos h4, .order-delivery h4
  padding-top: 2px
  margin: 0
.padding-wrap
  padding: 10px
#customer-see .padding-wrap
  :border-top = 1px solid !whiteGray
.big-separation
  height: 200px !important
.messages-fieldset
  padding-left: 0
  padding-right: 0
  h3
    margin-left: 15px
.sent-message
  :background-color = !oddBg
  padding: 5px
  :clear both
  a
    :color = !blueLink
    font-size: 1.1em
    font-weight: bold
    padding-left: 30px
    background-position: 0 -3025px
  span
    float: right
    :color = !lightGray
    display: block
    width: 150px
.received-message
  background-color =!white
  padding: 5px
  :clear both
  a
    background-position: 0 -2738px
    :color = !blueLink
    font-size: 1.1em
    font-weight: bold
    padding-left: 30px
  span
    float: right
    :color = !lightGray
    display: block
    width: 150px
.send-message-link
  margin: 5px 0 0 10px
  display: block
  :color = !lightGray
  text-decoration: underline
.send-message
  padding: 0 10px
  :color = !lightGray
.all-width
  width: 100%
.send-message textarea
  width: 100%
  :border =  1px solid !gray
  +borderCorner(3px,3px,3px,3px)
  background-position: 0 -600px
  background-image: url(/images/admin/backgrounds-verti.png)
  background-repeat: repeat-x
  padding: 2px 0
.different-adress
  +left()
.checkbox-container
  +left()
  width: 30%
  margin: 1%
  input
    +left()
  label
    margin: 5px !important
.multi-select-div
  position: absolute
  top: -10px
  right: 20px
  a
    display: block
    +left()
    margin: 0 2px
    :background-color = !whiteGray
    padding: 2px 5px
    :color = !lightGray
.tool-tip-settings
  font-size: 0.7em
  margin-top: 20px
  padding: 10px 10px
  :background-color = !lightYellowBg
  :color = !darkBrown
.fieldset.grid_11
  width: 635px
#ui-datepicker-div
  z-index: 999

.email
  width: 150px
