<h1><%= I18n.t('picture', :count => 2).capitalize %></h1>
<% @content_for_tools << link_to(I18n.t('picture.create.action').capitalize, new_admin_picture_path, :class => 'add' ) %>
<div id="list_pictures">
  <%= render :partial => 'list', :locals => { :pictures => @pictures , :target => 'picture_index', :target_id => nil } %>
</div>
