table {
  width: 100%;
  border: 1px solid #000;
}

table th{
  background-color: #979494;
  color: #fff;
}

form {
  background-color: #cfc5c5;
  padding: 15px;
}

#attribute_create form{
  margin: 5px;
  border: 2px solid #000;
  padding: 5px;
}

fieldset {
  margin: 10px;
}

form label {
  display: inline;
}

form label {
  display : block;
}

