body { margin: 0; padding: 0; font: normal 11px/1.5em Verdana, "Lucida Grande", Lucida, Tahoma, "Trebuchet MS", Arial, Geneva, Helvetica, sans-serif; background: url(/images/rails_commerce/header-bg.png) repeat-x; color: #777; }

img { border: none; margin: 0; padding: 0; }
img a { margin: 0; padding: 0; }

.clear { clear: both; }
.right { text-align: right; }
.left { text-align: left; }
.center { text-align: center; }
.strong { font-weight: bold; }

a { color: #3377bb; }
a:hover { text-decoration: none; color: red;}
a.block { display: block; text-align: center; }

#header { width: 960px; height: 74px; margin: 0 auto; padding-bottom: 5px; }
#header h1 { margin-left: -100px; width: 300px; color: green; }
#header h1 a { color: #568; }
#header a { color: white; }

h1 { float: left; margin: 0; padding: 0; }
h1 a { display: block; width: 193px; height: 74px; }

.cart_link { float: right; margin-top: 10px; padding-left: 15px; background: url(/images/rails_commerce/cart.gif) center left no-repeat; font-size: 10px; }
.cart_link a { color: #fff; }

#nav { float: right; margin: -26px 0 0 0; padding: 0; clear: left; list-style: none; }
#nav li { float: left; margin: 0 2px; background: url(/images/rails_commerce/tab-bg.png) repeat-x; }
#nav li a { display: block; padding: 4px 10px 5px 10px; color: #fff; text-decoration: none; }
#nav li a:hover { background-color: #0D5192; }
#nav li#signup-link a { background: url(/images/rails_commerce/arrow.gif) 4px center no-repeat; padding-left: 16px; font-weight: bold; }
#nav li#signup-link a:hover { background-color: #0D5192; }


#page { width: 960px; margin: 0 auto; }

#ancillary { margin-top: 20px; background: #003445; border-top: 7px solid #3477BD; color: #fff; }
#ancillary a { color: #fff; }
#ancillary .blocks { width: 960px; margin: 0 auto; }
#ancillary .blocks .block { float: left; width: 200px; margin-left: 50px; margin-bottom: 20px; text-align: justify; }
#ancillary .blocks .block.first { margin-left: 0; }
#ancillary .blocks .block h4 { margin-top: 20px; font-size: 16px; font-weight: normal; font-family: American Typewriter , Hoefler Text , Bookman Antiqua , Palatino, Utopia , Times New Roman , Times, New Century Schoolbook , Georgia, New York , serif; padding-bottom: 13px; margin-bottom: 10px; }
#ancillary .blocks .block a { display: block; }


#footer { width: 300px; margin: 0 auto; border-top: 1px solid #3377bb; text-align: center; }
#footer p { margin: 0; padding: 10px 0; }











{ float: right; width: 335px; }
a { color: #000; }
.large { margin-left: 100px; }
.product { width: 100px; float: left; background: #f0feda; padding: 10px; margin: 10px; border: #f0feda solid 1px;}
.cart { width: 700px; float: left; background: #f0feda; padding: 10px; }
.cart .cart_name { text-decoration: bold; }

.product_home .product { height: 75px; }

.product:hover{ border: #ccd solid 1px; }
.product_special, .product_home { margin-left: 120px; }
.product_special .product { height: 125px; width: 520px; float: left; background: #f0feda; padding: 10px; margin: 10px; }
.product_special .product .product_price { width: 50px; float: left; background: #f44; padding: 10px; margin: 10px 10px 0 0; color: white; }
.product_special .product .product_name { width: 220px; float: left; background: gray; padding: 10px; margin: 10px; color: white; }
.product_special .product_picture { float: left; margin: 10px; height: 100px; width: 100px; }

.product_special .product .product_add_cart:hover { background-position:0 -35px; border:1px solid #ffb591; }
.product_special .product .product_add_cart { 
	float: right; 
	background: transparent url(/images/rails_commerce/bg-add-cart.gif) no-repeat scroll 0% 0%; 
	width:152px;
	height:35px;
	color: #fff;
	margin-left: 10px;
	padding: 0 0 0 8px;
	text-decoration:none;
	border:1px solid #ff9191;
	font:bold 1.4em/2.4em Arial, Helvetica, sans-serif;
}

.product_special .product .product_add_cart a { color: #fff; }

.title {
	text-align: center;
	padding: 20px;
}

.yield { float: left; }
.product .product_add_cart:hover { background: #ffb591; border:1px solid #ffb591; }
.product .product_description { width: 490px; padding: 10px; margin: 10px; margin-top: 60px; }