<h1>Create an Order</h1>
<!-- <ul style="border : 1px solid black;">
  <%# RailsCommerce::ProductDetail.all.each do |product| %>
    <li class="product" onclick="$(this).toggleClassName('selected')">
    <%#= image_tag(product.pictures.first.public_filename(:thumb)) %>
    <p><b><%#= product.name %></b></p>
    <p><%#= product.categories.collect{ |c| c.name }.join(',') %></p>
    </li>
  <%# end %>
</ul>

<%#= submit_tag 'Next', :style => 'float :right;' %>
-->
<%= render :partial => 'form', :locals => { :order => @order } %>
