.backgrounds.big-header
  %span.order-price
    454 $
  %span.header-separator
  %span
    Order n°458
  %span.header-separator
  %span
    12/05/09

  .interact-links
    .borders.interact-button-left
      %a.backgrounds.interact-button{ :href => '#' }
        Save Changes
     = I18n.t('or')
     %a.back-link{ :href => '#' }
      Cancel
