.before_breadcrumbs
.breadcrumbs
  .inner-breadcrumbs
    %a{ :href => "#" }
      Accueil
    >
    Confirmation

.inner-content
  .product-list
    = step_order(5)
  .cart-step-content.informations
    %p.confirm_message
      ="Votre commande a bien été prise en compte, vous recevrez un mail de confirmation"
    = link_to "Retour à la page d'accueil", {:controller=>'home',:action => 'index' } ,:class=> 'to_home'
  .clear