.before_breadcrumbs
.breadcrumbs
  .inner-breadcrumbs
    %a{ :href => "#" }
      Accueil
    >
    Mon panier

.inner-content
  .product-list
    = step_order(4)
  .cart-step-content.informations
    = link_to 'Paiement gratuit', {:action => 'confirmation' } ,:class=> 'payment-link'
    .clear
    .clear