.inner-content
  .product-list
    = step_order(4)
  .cart-step-content.informations
    = link_to 'Paiement gratuit', {:action => 'confirmation' } ,:class=> 'payment-link'
    .clear
    .clear
- content_for :title, t(:cart, :count => 1)
