- unless defined?(level)
  - level = 0

- unless categories.nil? or categories.blank?
  - categories.each do |category|
    %li{ :rel => 'folder', :id => "category_#{category.id}" }
      = link_tocategory.name + content_tag(:span, category.tattributes.count), '#')
