#dashboard.statistics.grtid_12.alpha.omega
  .left-dashboard.grid_12.omega.alpha
    .padding-wrap
      %h2.small-icons.see-stats
        Trends
      .trend_filter
        %label
          Show trends for :
        %select
          %option
            This month
      .chart
        there goes the chart
      .clear
      %h2.small-icons.products
        Products
      .to-tab
        %ul
          %li
            %a{ :href => "#best-sellers" }
              Best sellers
          %li
            %a{ :href => "#most-viewed" }
              Most viewed
          %li
            %a{ :href => "#low-stock" }
              Low stock
        #best-sellers
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .clear
          %a.see-all-orders{ :href => "#" }
            See all products
        #most-viewed
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          %a.see-all-orders{ :href => "#" }
            See all products
        #low-stock
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          .stat-product-container
            %img{ :src => "/images/admin/no-image.png", :alt => "product name" }
            %span.stat-product-sells
              45 sales
            %a.product-name{ :href => "#" }
              Côtes du Rhône Village
            %span.stat-prodcut-title
              34 $
          %a.see-all-orders{ :href => "#" }
            See all products
      %h2.small-icons.page
        Pages
      .to-tab
        %ul
          %li
            %a{ :href => "#most-viewed-pages" }
              Most viewed
          %li
            %a{ :href => "#most-commented" }
              Most commented
        #most-viewed-pages
          %table
            %tbody
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr.even
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr.even
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr.even
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
        #most-commented
          %table
            %tbody
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr.even
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr.even
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr.even
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
              %tr
                %td.table-product
                  Page "About us" created
                %td
                  by Quentin Tousart
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
      %h2.small-icons.customer
        Customers
      .to-tab
        %ul
          %li
            %a{ :href => "#best-customers" }
              best-customers
          %li
            %a{ :href => "#top-search" }
              Top 5 search items
          %li
            %a{ :href => "#most-search" }
              Most search items
          %li
            %a{ :href => "#top-location" }
              Top 5 locations
        #best-customers
          %table
            %tbody
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
        #top-search
          %table
            %tbody
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
        #most-search
          %table
            %tbody
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
        #top-location
          %table
            %tbody
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
              %tr.even
                %td.customer-bought-amount
                  2465$
                %td.table-product
                  Page "About us" created
                %td
                  quentin@webpulser.com
          .clear
          %a.see-all-orders{ :href => "#" }
            See all pages
  .right-dahsboard.grid_4.alpha
    %h2.small-icons.see-stats
      Keyfacts
    .trend_filter
      %select
        %option
          This month
    .live-stats-content
      %span
        %span.keyfacts-name
          Visitors
        %span.keyfacts-value
          4500
        %span.clear
      %span
        %span.keyfacts-name
          Averag order
        %span.keyfacts-value
          45.5$
        %span.clear
      %span
        %span.keyfacts-name
          Product Sold
        %span.keyfacts-value
          450
        %span.clear
      %span
        %span.keyfacts-name
          Revenue
        %span.keyfacts-value
          45000$
        %span.clear
      %span
        %span.keyfacts-name
          Conversion rate
        %span.keyfacts-value
          8%
        %span.clear
      %span
        %span.keyfacts-name
          Average customer
        %span.keyfacts-value
          120$
        %span.clear
  .clear
