<%= hidden_field_tag "admin[right_ids][]" %>
<table>
<% rights.in_groups_of(3).each do |right_group| %>
  <tr>
    <% right_group.each do |right| %> 
    <td class='content'>
    <% unless right.nil? %>
      <%= check_box_tag "admin[right_ids][]", right.id, (admin.nil? ? false : admin.rights.include?(right)), :class => 'rights' %> <%= right.name %>
    <% end %>
    </td>
    <% end %>
  </tr>            
<% end %>
</table>
