<%= link_to_unless group.id.nil?, 'create attribute',
  { :action => 'create_attribute', :id => group.id },
  :class => 'add' %>
<table>
  <thead>
    <th>value</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% group.tattributes.each do |attribute| %>
      <tr>
        <td><%= attribute.name %></td>
        <td>
          <%= link_to 'edit', :action => 'edit_attribute', :id => attribute.id %>
          <%= link_to_remote 'destroy', :url => { :action => 'destroy_attribute', :id => attribute.id }, :update => 'attributes' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
