/%div{ :style => "float: left" }
/  = display_catalog @products
.before_breadcrumbs
.breadcrumbs
  .inner-breadcrumbs
    =link_to 'Accueil', '/'
    &gt;
    = @product_category.name
.inner-content
  -if !@selected_product.nil?
    .product-list
      .filters
        %span
          Tri
        %div
          -form_tag :action => 'index' do
            =hidden_field_tag :product_category_id, @product_category.id
            %div
              - if !@category_choice.nil?
                -selected = @category_choice.id
              - else
                -#selected = @product_category.children.first.id
              =select_tag 'category_choice', options_for_select(@product_category.children.collect{|c| [c.name, c.id]},selected), :prompt => 'choose'
            =submit_tag 'ok', :class=>'ok-button'

      .slider_product
        %ul#slider_products.jcarousel-list
          -@products.each do |product|
            %li.jcarousel-item
              =link_to image_tag(product.pictures.first.public_filename(:normal), :class => 'img_carousel'), "/product/#{product.url}" if !product.pictures.blank?
              /%img{ :src => "/images/front_demo/product_image.jpg", :alt => "" }
              %span.price
                =product.price
                €  
    =render :partial => 'products/show', :locals => { :product => @selected_product }
  -else
    .no_product
      .cart-step-content
        %h1
          Il n'y a pas de produit dans cette catégorie.
          = link_to "Retour à l'accueil", '/home'
'
