#product-types-all-tree, #product-types-selected-tree
  ul
    margin-left: 5px
    li
      margin-bottom: 2px
      float: left
    .jstree-leaf
      background: white
      border: 1px solid #F1B122
      min-height: 20px
      padding: 0
      .jstree-icon
        float: left
        width: 0
        height: 0
      a
        float: left
        background: image_url("forgeos/jstree/themes/product-types/drag-drop.png") no-repeat top left transparent
        height: 20px
        width: 85%
        .jstree-icon
          width: 20px
          height: 20px
          margin-right: 5px
        .small-icons
          margin-left: 5px
          padding-bottom: 4px
          background-position: 0 -334px
        .gray-destroy
          display: block
          top: 2px
      &:hover
        background-color: #ffeea9

#product-types-selected-tree
  ul
    .jstree-leaf
      border: 1px solid #E7E7E7
      a
        background: image_url("forgeos/jstree/themes/product-types/grey-drag-drop.png") no-repeat top left transparent
        width: 95%
        .small-icons
          position: absolute
          right: 20px
          height: 20px
      &:hover
        background-color: #f3f3f3
.jstree-product-types
  margin: 20px 0
  .jstree-locked li a
    color: gray
  ul
    width: 87%
  li
    width: 100%
    &.last
  .rtl
    background-position: right 1px
    ul
      background-position: right 1px
    li
      background-position: right 8px
      &.last
        background-image: image_url("forgeos/jstree/themes/product-types/lastli_rtl.gif")
        background-position: right top
  .jstree-no_dots
    background: transparent
    ul
      background: transparent
    li.leaf
      background-image: none
      background-color: transparent
  li
    &.jstree-open
      background: image_url("forgeos/jstree/themes/product-types/dark-blue-minus.png") 0 0 no-repeat
    &.jstree-closed
      background: image_url("forgeos/jstree/themes/product-types/dark-blue-plus.png") 0 1px no-repeat

#jstree-dragged.jstree-product-types li li.open
  background: image_url("forgeos/jstree/themes/product-types/dark-blue-plus.png") 0 1px no-repeat

.jstree-product-types .rtl li
  margin-right: 1px
  &.last
    margin-right: 0
    padding-right: 16px
  &.open
    background: image_url("forgeos/jstree/themes/product-types/fminus_rtl.gif") right 6px no-repeat
    margin-right: 0
    padding-right: 16px
  &.closed
    background: image_url("fplus_rtl.gif") right 4px no-repeat
    margin-right: 0
    padding-right: 16px

#jstree-dragged.jstree-product-types .rtl li li.open
  background: image_url("forgeos/jstree/themes/product-types/fplus_rtl.gif") right 4px no-repeat
  margin-right: 0
  padding-right: 16px

.jstree-product-types li
  a
    padding: 0px 5px 0px 24px
    width: auto
    color: #4d4d4d !important
    font-weight: bold
    font-size: 1em
    height: 20px
    position: relative
  &[rel=attribute-category] a
    background: image_url("forgeos/jstree/themes/product-types/folder.png") no-repeat left bottom
  a
    span
      display: none
    &.jstree-loading
      background-image: image_url("forgeos/jstree/themes/product-types/throbber.gif")

  li
    padding-left: 15px
  &[rel=attribute].leaf
    background-color: white
    -moz-border-radius: 3px
    margin: 2px 0
    padding-left: 0
    border: 1px solid #f1b122
    a
      background: image_url("forgeos/jstree/themes/product-types/drag-drop.png") no-repeat left center
      padding-top: 3px
      padding-left: 30px
