<% form_tag :url => {} do %>
  <p><b><%= label :email, I18n.t('email').capitalize %> : </b><%= text_field_tag :email %></p>
  <p><%= submit_tag I18n.t('wishlist.send.email').capitalize %></p>
<% end %>
