- colissimo = f.object.colissimo_methods || {}
= f.fields_for :colissimo_methods  do |colissimo_fields|
  = serialized_field(colissimo_fields, colissimo, :check_box, :active, :class => 'toggle-infos')
  .infos
    - %w(sha forwarding_charges preparation_time urlok urlko fo url_prod url_test).each do |element|
      = serialized_field(colissimo_fields, colissimo, :text_field, element)
      %br
