%div
  %h3
    Google Shopping
  %div
    = f.label  :google_account, "Google Account (UA-XXXXX-X)"
    = f.text_field :google_account
    .clear
    = f.label  :google_affiliation_store_name, "Google Affiliation store name"
    = f.text_field :google_affiliation_store_name
