<h1><%= I18n.t('category', :count=>2).humanize %></h1>
<% @content_for_tools << link_to(I18n.t('create_category').humanize, new_admin_category_path, :class => 'add' ) %>
<div id="categories">
  <%= render :partial => 'list', :locals => { :categories => @categories } %>
</div>
