<h1><%= I18n.t('category', :count=>2).capitalize %></h1>
<% @content_for_tools << link_to(I18n.t('category.create.action').capitalize, new_admin_category_path, :class => 'add' ) %>
<div id="categories">
  <%= render :partial => 'list', :locals => { :categories => @categories } %>
</div>
