.fieldset
  %a.small-icons.panel{ :href => '#' }
    = I18n.t('user.contact_infos').capitalize
  .option-panel-content
    .street-input
      %label
        Telephone
      = f.text_field :tel1
    .street-input
      %label
        Other telephone
      = f.text_field :tel2
    .street-input
      %label
        Email
      = f.text_field :email
  .clear

