%h1
  = I18n.t('user', :count => 2).capitalize
#users
  = render :partial => 'list', :locals => { :users => @users }

- content_for :tools, link_to(I18n.t('export_newsletter').capitalize, { :controller => 'admin/users', :action => 'export_newsletter', :id => 0 }, :class => 'report_seo' )
