<%
  output = {
    :iTotalDisplayRecords => @users.total_entries || 0,
    :aaData => @users.collect do |user|
      link_id = "user_#{user.id}"
      klass = user.active? ? 'see-on' : 'see-off'
      [
      content_tag(:div, '<div class="handler"></div><div class="small-icons user-ico"></div>', :id => link_id, :class => 'handler_container'),
      content_tag(:div, link_to(user.fullname, [:edit, :admin, user]), :class => 'user-name'),
      content_tag(:div, mail_to(user.email, user.email, :class => 'truncate', :title => user.email), :class => 'email'),
      user.orders.count,
      user.total_orders.blank? ? t('none').capitalize : content_tag(:div, price_with_currency(user.total_orders)),
      content_tag( :div, (user.orders.empty? ?  t('none').capitalize : user.orders.last(:order => 'created_at DESC' ).created_at.to_date), :class => 'last-date'),
        link_to_remote('', :url => activate_admin_user_path(user),
         :complete => "toggleActivate('#show_#{link_id}')",
         :html => {
           :class => "small-icons #{klass}",
           :id => "show_#{link_id}"
        }),
        link_to('', [:edit, :admin, user], :class => 'small-icons edit-link') +
        link_to_remote('', :url => [:admin, user],
         :method => :delete,
         :confirm => t('user.destroy.confirm').capitalize,
         :success => "removedataTablesRow('#destroy_#{link_id}')",
         :html => {
           :class => 'small-icons destroy-link', :id => "destroy_#{link_id}"
        })
      ]
    end
}
-%>
<%= output.to_json -%>
