#sidebar.grid_4.omega.alpha
  .backgrounds.header
  .backgrounds.sidebar-background
  .sidebar-content
    %h2.small-icons{ :class => icon_class }
      = link_to_function I18n.t(sidebar_title).capitalize, "select_all_elements_without_category()"
    .init-tree.a-tree.category-tree{ :id => tree_id }
    = form_for [forgeos_core, :admin, Category.new], :html => { :multipart => true } do |f|
      = render :partial => 'attachments_popups'
