%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
  %li.ui-state-default.ui-corner-top= link_to t(:special_offer, :count => 2).capitalize, [forgeos_commerce, :admin, :special_offers]
  %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active= link_to t(:voucher, :count => 2).capitalize, '#content'
